TeaCounter.Data/Service References/Service.Console/DesignManagementService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Digiturk.Ino.DesignManagement.Service.DesignManagementService" elementFormDefault="qualified" targetNamespace="Digiturk.Ino.DesignManagement.Service.DesignManagementService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dms-service.apactest.beiniz.biz/DesignManagementService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Digiturk.Ino.DesignManagement.Domain.Catalog" />
  <xs:import schemaLocation="http://dms-service.apactest.beiniz.biz/DesignManagementService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Digiturk.Ino.DesignManagement.Domain.Configuration" />
  <xs:import schemaLocation="http://dms-service.apactest.beiniz.biz/DesignManagementService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Digiturk.Ino.DesignManagement.Domain.Content" />
  <xs:import schemaLocation="http://dms-service.apactest.beiniz.biz/DesignManagementService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Digiturk.Ino.DesignManagement.Domain.Configuration.Enums" />
  <xs:element name="GetCampaign">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="slug" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="languageCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCampaignResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Digiturk.Ino.DesignManagement.Domain.Catalog" minOccurs="0" name="GetCampaignResult" nillable="true" type="q1:Campaign" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="slug" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="languageCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Digiturk.Ino.DesignManagement.Domain.Catalog" minOccurs="0" name="GetPackageResult" nillable="true" type="q2:Package" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientServerUrl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceUniqueId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientServerUrlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Digiturk.Ino.DesignManagement.Domain.Configuration" minOccurs="0" name="GetClientServerUrlResult" nillable="true" type="q3:ClientServer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLanguages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLanguagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Digiturk.Ino.DesignManagement.Domain.Configuration" minOccurs="0" name="GetLanguagesResult" nillable="true" type="q4:ArrayOfLanguage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="languageCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Digiturk.Ino.DesignManagement.Domain.Configuration" minOccurs="0" name="GetMessagesResult" nillable="true" type="q5:ArrayOfMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="languageCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParametersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Digiturk.Ino.DesignManagement.Domain.Configuration" minOccurs="0" name="GetParametersResult" nillable="true" type="q6:ArrayOfParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParameter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="languageCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParameterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Digiturk.Ino.DesignManagement.Domain.Configuration" minOccurs="0" name="GetParameterResult" nillable="true" type="q7:Parameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPolicies">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPoliciesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Digiturk.Ino.DesignManagement.Domain.Configuration" minOccurs="0" name="GetPoliciesResult" nillable="true" type="q8:ArrayOfPolicy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResources">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="languageCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResourcesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Digiturk.Ino.DesignManagement.Domain.Configuration" minOccurs="0" name="GetResourcesResult" nillable="true" type="q9:ArrayOfResource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Digiturk.Ino.DesignManagement.Domain.Configuration" minOccurs="0" name="GetSettingsResult" nillable="true" type="q10:ArrayOfSetting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSocialMediaAccounts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSocialMediaAccountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Digiturk.Ino.DesignManagement.Domain.Configuration" minOccurs="0" name="GetSocialMediaAccountsResult" nillable="true" type="q11:ArrayOfSocialMediaAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnnouncements">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="languageCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnnouncementsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Digiturk.Ino.DesignManagement.Domain.Content" minOccurs="0" name="GetAnnouncementsResult" nillable="true" type="q12:ArrayOfAnnouncement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBanners">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="languageCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBannersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Digiturk.Ino.DesignManagement.Domain.Content" minOccurs="0" name="GetBannersResult" nillable="true" type="q13:ArrayOfBanner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="languageCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Digiturk.Ino.DesignManagement.Domain.Content" minOccurs="0" name="GetMenusResult" nillable="true" type="q14:ArrayOfMenu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="menuKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="languageCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Digiturk.Ino.DesignManagement.Domain.Configuration.Enums" minOccurs="0" name="satelliteType" type="q15:SatelliteType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Digiturk.Ino.DesignManagement.Domain.Content" minOccurs="0" name="GetMenuResult" nillable="true" type="q16:Menu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMetaTags">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="languageCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMetaTagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Digiturk.Ino.DesignManagement.Domain.Content" minOccurs="0" name="GetMetaTagsResult" nillable="true" type="q17:ArrayOfMetaTag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNews">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="languageCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Digiturk.Ino.DesignManagement.Domain.Content" minOccurs="0" name="GetNewsResult" nillable="true" type="q18:ArrayOfNews" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="languageCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Digiturk.Ino.DesignManagement.Domain.Content" minOccurs="0" name="GetPagesResult" nillable="true" type="q19:ArrayOfPage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="languageCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Digiturk.Ino.DesignManagement.Domain.Content" minOccurs="0" name="GetPageResult" nillable="true" type="q20:Page" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRedirectionRules">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRedirectionRulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Digiturk.Ino.DesignManagement.Domain.Content" minOccurs="0" name="GetRedirectionRulesResult" nillable="true" type="q21:ArrayOfRedirectionRule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShowcase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="showcaseKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="languageCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShowcaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Digiturk.Ino.DesignManagement.Domain.Content" minOccurs="0" name="GetShowcaseResult" nillable="true" type="q22:Showcase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShowcaseNew">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="showcaseKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="languageCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Digiturk.Ino.DesignManagement.Domain.Configuration.Enums" minOccurs="0" name="satelliteType" type="q23:SatelliteType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShowcaseNewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Digiturk.Ino.DesignManagement.Domain.Content" minOccurs="0" name="GetShowcaseNewResult" nillable="true" type="q24:Showcase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShowcases">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="languageCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShowcasesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Digiturk.Ino.DesignManagement.Domain.Content" minOccurs="0" name="GetShowcasesResult" nillable="true" type="q25:ArrayOfShowcase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthenticateServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateTokenResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDefaults">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDefaultsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DropTables">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DropTablesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRedirectUrl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="client" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oldUrl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newUrl" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRedirectUrlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertRedirectUrlResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRedirectUrlV2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="client" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oldUrl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newUrl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="language" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRedirectUrlV2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertRedirectUrlV2Result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>